.late {
  color: red;
  display: inline-block;
}

.early {
  color: #f06292;
  display: inline-block;
}

.ontime {
  color: #76d275;
  display: inline-block;
}

.startshere {
  color: black;
  display: inline-block;
}
.bus {
  color: #673ab7;
  display: inline-block;
}

.offroute {
  color: #9fa8da;
  display: inline-block;
}

.cancelled {
  color: #d32f2f;
  display: inline-block;
  text-decoration: line-through;
}
